cmake_minimum_required(VERSION 3.18)

project(PalSchematicaNativeMods)

# Adjust this path to your exact RE-UE4SS source checkout.
add_subdirectory(RE-UE4SS)
add_subdirectory(PalSchematicaFilesystem)
